server: 
  port: 3000

executor:
  corePoolSize: 200
  maxPoolSize: 200
  queueCapacity: 1800

scheduler:
  poolSize: 200

cron:
  schedule: 0 0/1 * * * ?

dryRun: false

default:
  probability: 0.3
  
openstack:
  username: admin
  password: 123456
  projectID: 44ca09c4917a47ebb3f0ae3f98bf26dc
  domainName: default
  endpoint: http://10.144.85.93/identity/v3
ssh:
  user: root     #ubuntu
  key:  /root/.ssh/id_rsa   #/home/root/.ssh/cloud.key
  
redis:
  hostname: 192.168.175.132
  port: 6379
  password: 123456
  
spring:
  main:
    banner-mode: off
    
security:
  user:
    name: magg
    password: 78fa095d-3f4c-48b1-ad50-e24c31d5cf69
       
failure:
 modes:
   shutdowninstance: false
   blockallnetworktraffic: false
   burncpu: false
   burnio: false
   faildns: true
   filldisk: false
   killprocesses: true
   networkcorruption: false
   networklatency: false
   networkloss: true
   nullroute: false

whitelist: #leech, test
blacklist: #chaos-stack,spin #jiangchao-spinnaker
   
  